#login-login {
    width: 120px;
    height: auto;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.form-signin-heading {
    text-align: center;

    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.form-password-remainder {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.bg {
    padding: 15px;
}
